name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Build binaries
        run: |
          mkdir -p dist
          GOOS=linux GOARCH=amd64 go build -ldflags "-X main.version=$GITHUB_REF_NAME" -o wireguard-exporter-go .
          tar -czvf dist/wireguard-exporter-go-$GITHUB_REF_NAME-linux-amd64.tar.gz wireguard-exporter-go LICENSE README.md
          rm wireguard-exporter-go

          # Generate SHA256 checksums
          cd dist
          sha256sum * > SHA256SUMS
          cd ..
          
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

